.profile-container {
  height: 86vh;
  width: 99vw;
  display: flex;
  margin-top: 75px;
}

.profile-user-info{
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-user-posts {
  height: 100%;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-card {
  height: 90%;
  width: 50%;
  background-color: white;
  border-radius: 5px;
}

.profile-img {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  margin: auto;
  margin-top: 25px;
  display: flex;
}

.profile-img img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.profile-user-name h2 {
  margin-left: 115px;
}

.profile-user-bio {
  height: 50%;
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
  overflow: auto;
  padding: 5px;
  position: relative;
}

.profile-user-bio p {
  overflow-wrap: break-word;
}

.profile-user-posts {
  background-color: white;
  position: relative;
  margin: 15px;
  border-radius: 5px;
}

.profile-user-posts h1 {
  position: absolute;
  top: 10px;
  left: 41px;
}

.profile-posts-carousel {
  background-color: white;
  height: 85%;
  width: 100%;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 80px;
  overflow: auto;
  border-radius: 5px;
}

.bio-edit-btn {
  position: absolute !important;
  bottom: 10px;
  right: 10px;
  border-radius: 50% !important;
  height: 4rem;
  width: 2rem;
}

.profile-user-bio input {
  display: block;
  height: 2rem;
  width: 18rem;
  padding: 5px;
  border: none;
  outline: none;
  background-color: #ecf0f1;
  border-radius: 5px;
  overflow-wrap: break-word;
}
