.single-reel-container{
    display: flex;
}

.video-container {
    height: 100%;
    width: 30rem;
    margin: auto;
    margin-top: 10px;
    scroll-snap-align: start;
    position: relative;
  /* margin-bottom: 1px; */
}

.video-src{
    height: 100%;
    width: 100%;
    position: relative;
}

.video-src video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.reels-user-name, .song-details{
    position: absolute;
    color: white;
}

.reels-user-name{
    bottom: 4rem;
    left: 10px;
}

.song-details{
    display: flex;
    bottom: 3rem;
    left: 4px;
}

.like-btn-container{
    position: absolute;
    bottom: 1rem;
    left: 7px;
}

.comment-btn-container{
    position: absolute;
    bottom: 1rem;
    left: 40px;
}

.reels-like-btn{
    color: red;
}

.reels-comments-btn{
    color: white;
}

.reels-comments-container{
    position: absolute;
    height: 90%;
    width: 30rem;
    top: 2rem;
    left: 30rem;
    box-shadow: 0px 0px 9px 2px #aaa;
}

.reels-add-comment input{
    display: block;
    margin-top: 2rem;
    outline: none;
    border: none;
    border-radius: 5px;
    height: 2rem;
    width: 25rem;
    margin-left: 1rem;
}

.reel-all-comments{
    height: 30rem;
    overflow-y: scroll;
    width: 100%;
    margin-top: 2rem;
}