.all-video-container {
  height: 89vh;
  width: 98vw;
  margin-top: 5rem;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  margin-bottom: 0;
}

.reels-progress-circle-container {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
}
